@import "tailwindcss";

@font-face {
  font-family: "poppins-regular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-semi-bold";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}

.font-poppins,
.font-poppins-regular {
  font-family: "poppins-regular", serif;
}

.font-poppins-semibold {
  font-family: "poppins-semi-bold", serif;
}
body {
  @apply overflow-x-hidden;
}
